/* 
main {
  transition: margin-right 0.5s;
  padding: 1rem 18rem;
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  margin: auto;
  align-items: flex-start;
} */

section {
  width: 100%;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background: white;
  border-radius: 10px;
}

header {
  padding: 1rem;
  text-align: center;
  background: #008B8B;
  margin-bottom: 1rem;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

header h1 {
  font-size: 2rem;
  text-align: center;
}
.image {
    place-content: center;
    border-radius: 15px;
    max-width: 70%;
    justify-content: center;
    margin: auto;
    transition: 0.3s ease-in-out;
}
.image:hover {
    max-width: 75%;
    transition: 0.3s;
}
sub {
  color: #bbb;
  text-align: left;
  margin-top: 10px;
  padding: 5px;
  bottom: 0px;
  align-self: flex-end;
}

@media (min-width: 768px) {
  main {
    flex-direction: column;
  }

  section {
    flex: 1;
    margin: 2rem 2rem;
  }
}

@keyframes float-in {
  from {
    transform: translateY(-3rem);
  }

  to {
    transform: translateY(0);
  }
}
