{% extends 'Navs.html' %}
{% block title %}الوقاية{% endblock title %}
{% load static %}
{% block content %}
            <p class="navbar-brand mx-auto my-auto"><strong class="h4">{{PT}}</strong></p>
{% endblock content %}

{% block body %}
<link rel="stylesheet" href="{% static './style/News.css' %}">
{% comment %} <main id="mainPost"> {% endcomment %}
    {% for aware in AwarenessPost %}
    <section class="container">
        <header>
            <h2>{{aware.title}}</h2>
        </header>
        <article>
            <p class="text-right">
                {{aware.content}}
            </p>
        </article>
        {% if aware.img %}
        <div class="row image">
            <img src="{{aware.img.url}}" class="card-img-top" alt="...">
        </div>
        {% endif %}
        
        <div class="row">
            <sub>{{aware.date}}</sub>
        </div>
    </section>
    {% endfor %}
    {% comment %} </main> {% endcomment %}
{% endblock body %}