{% extends 'Navs.html' %}
{% block title %}الاخبار{% endblock title %}
{% load static %}
{% block content %}
<p class="navbar-brand mx-auto my-auto"><strong class="h4">{{PT}}</strong></p>
{% endblock content %}
{% block body %}
<link rel="stylesheet" href="{% static './style/News.css' %}">
{% comment %} <main id="mainPost"> {% endcomment %}
    {% for post in  NewsPosts %}
    <section class="container">
        <header>
            <h2>{{post.title}}</h2>
        </header>
        <article>
            <p class="text-right">
                {{post.content}}
            </p>
        </article>
        <div class="row image">
                <img src="{{post.img.url}}" class="card-img-top" alt="...">
        </div>
        <div class="row">
            <sub>{{post.date}} - rsc:{{post.resource}} </sub>
        </div>
    </section>

    {% endfor %}
    {% comment %} </main> {% endcomment %}
{% endblock body %}